.navbar-tall{
	padding-top:5px;
	height:200px;
	color:white;
	width:100%;
	position:absolute;
	top:0;
	left:0;
	background:black;

}

.navbarDiv{
	padding:4px;
}
.logo{
	font-size:30px;
	font-weight:bold;
	text-align:center;
	text-shadow:1px 1px gray;
}

#logo{
	width:20%;
}

#leftside{
	width:20%;
	display:inline-block;
	float:left;
}

#leftside p {
	display:inline-block;
}

#leftside img{
	height:80px;
}

#name{
	font-size:30px;
	color:white;
	text-shadow: 1px 1px gray;
	position:absolute;
	display:inline-block;
	line-height: 90%;
	font-variant:small-caps;

}

#weatherbox{
	width:20%;
	height:100%;
		background: -moz-linear-gradient(top, rgba(30,87,153,1) 0%, rgba(85,144,199,0) 58%, rgba(125,185,232,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(58%,rgba(85,144,199,0)), color-stop(100%,rgba(125,185,232,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(30,87,153,1) 0%,rgba(85,144,199,0) 58%,rgba(125,185,232,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(30,87,153,1) 0%,rgba(85,144,199,0) 58%,rgba(125,185,232,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(30,87,153,1) 0%,rgba(85,144,199,0) 58%,rgba(125,185,232,0) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(30,87,153,1) 0%,rgba(85,144,199,0) 58%,rgba(125,185,232,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#007db9e8',GradientType=0 ); /* IE6-9 */
	background-repeat:no-repeat;

}

#weatherbox span{
	color:goldenrod;
	text-shadow:1px 1px black;
	font-size:18px;


}



.userIconBox{
	position:relative;
	overflow:hidden;
}

body{
	padding-top:200px;
}

.brand{
	display:table-cell;
	vertical-align:middle;
	text-aligh:center;
}

.navbarDiv{
	float:left;
	display:inline;
}

#quotebox p{
	font-size:18px;
	font-color:gray;
	float:right;
}

.navbar-tall-inner{
	display:block;
	height:95%;
}

.city{
	font-size:30px;
	font-family:'Roboto Condensed', sans-serif;
	font-variant:small-caps;
	font-weight:700;
	text-shadow:2px 2px black;
}

/*Colors for the different types of categories in the app*/

.ENV-color{
	color:#00719C;
	}
.ENV-background{
	background:#00ABF0;
}
.ENV-button{
	background:#00719C;
	color:white;
	text-shadow:none;
}
.ENV-bug{
	background:#00ABF0;
	border-radius:3px;
	padding:0 3px;
	text-shadow:1px 1px 1px black;
	font-weight:bold;
	color:white;

}
.CAR-color{color:#A57B06;}
.CAR-background{background:#FEC013;}
.CAR-button{
	background:#A57B06;
	color:white;
	text-shadow:none;
}
.CAR-bug{
	background:#FEC013;
	border-radius:3px;
	padding:0 3px;
	text-shadow:1px 1px 1px black;
	font-weight:bold;
	color:white;
}
.FIN-color{color:#538016;}
.FIN-background{background:#8EC543;}
.FIN-button{
	background:#538016;
	color:white;
	text-shadow:none;
}
.FIN-bug{
	background:#8EC543;
	border-radius:3px;
	padding:0 3px;
	text-shadow: 1px 1px 1px black;
	font-weight:bold;
	color:white;
}

.HEA-color{color:#F16527;}
.HEA-background{background:#F16527;}
.HEA-button{
	background:#F16527;
	color:white;
	text-shadow:none;
}
.HEA-bug{
	background:#F16527;
	border-radius:0 3px;
	padding:0 3px;
	text-shadow:1px 1px 1px black;
	font-weight:bold;
	color:white;
}

.PPL-color{color:#006E3D;}
.PPL-background{background:#006E3D;color:white;}
.PPL-button{
	background:#006E3D;
	color:white;
	text-shadow:none;
}
.PPL-bug{
	background:#006E3D;
	border-radius:3px;
	padding:0 3px;
	text-shadow:1px 1px 1px black;
	font-weight:bold;
	color:white;
}

.ROM-color{color:#BE2B31;}
.ROM-background{background:#BE2B31;color:white;}
.ROM-button{
	background:#BE2B31;
	color:white;
	text-shadow:none;
}
.ROM-bug{
	background:#BE2B31;
	border-radius:3px;
	padding:0 3px;
	text-shadow:1px 1px 1px black;
	font-weight:bold;
	color:white;
}

.GRO-color{color:#902A8E;}
.GRO-background{background:#902A8E;color:white;}
.GRO-button{
	background:#902A8E;
	color:white;
	text-shadow:none;
}
.GRO-bug{
	background:#902A8E;
	border-radius:3px;
	padding:0 3px;
	text-shadow:1px 1px black;
	font-weight:bold;
	color:white;
}
.REC-color{color:#957449;}
.REC-background{background:#957449;color:white;}
.REC-button{
	background:#957449;
	color:white;
	text-shadow:none;
}
.REC-bug{
	background:#957449;
	border-radius:3px;
	padding:0 3px;
	text-shadow:1px 1px black;
	font-weight:bold;
	color:white;
}
	
.center{
	text-align:center;
	margin-left:auto;
	margin-right:auto;
}

.box-lifted{
	padding:5px;
	background:#ddd;
	-moz-box-shadow:    3px 3px 5px 6px #ccc;
	-webkit-box-shadow: 3px 3px 5px 6px #ccc;
	box-shadow:         10px 10px 0 0 #ccc;
	border-radius:0;
}

.box-lifted input{
	border-radius:0;
}

.box-lifted select{
	border-radius:0;
}

.box-lifted a{
	border-radius:0;
}

.box-lifted div{
	border-radius:0;
}

.box-lifted textarea{
	border-radius:0;
}

.table-task tbody{
	border:2px solid black;
}

.btn-margin{
	margin-top:5px;
}

.advisorPanel{
	text-align:center;
	margin-top:5px;
}

.advisorPanel a{
	text-shadow:none;
}

.achivementThumb img{
	height:100px;
	width:100px;
}

.achivementThumb{
	height:100px;
	width:100px;
}

.acivementThumb p{
	position:relative;
}