/*
	 CSS-Tricks Example
	 by Chris Coyier
	 http://css-tricks.com
*/

* { margin: 0; padding: 0; }
html, body { height: 100%; overflow: hidden;}
.page-wrap { 
	 width: 50%; 
	padding: 0 0 0 15px; margin: 0 auto; overflow: hidden; 
	/*height: 100%; */ 
}

.info-col { float: left; width: 132px; height: 100%; padding: 50px 0 0 0; }
.info-col h2 { text-align: center; font-weight: normal; padding: 25px 0; }

.image { height: 100px; text-indent: -9999px; display: block; border-right: 1px solid white; }

.scientist { background: url(../img/selectClass/Scientist.jpg) center center no-repeat; }
.citizen { background: url(../img/selectClass/citizen.jpg) center center no-repeat; }
.general { background: url(../img/selectClass/general.jpg) center center no-repeat; }
.pilot { background: url(../img/selectClass/pilot.jpg) center center no-repeat; }
.geologist { background: url(../img/selectClass/geologist.jpg) center center no-repeat; }
.engineer { background: url(../img/selectClass/engineer.jpg) center center no-repeat; }

dl{margin-bottom:0;}

dt { padding: 5px; background: #900; color: white; }
dd { margin-left:0; position: absolute; left: -9999px; top: -9999px; width: 299px; background: #900; padding: 10px; color: white; }

dt:nth-of-type(1) { background: #687DAE; }
dd:nth-of-type(1) { background: #687DAE; }

dt:nth-of-type(2) { background: #4B69AE; }
dd:nth-of-type(2) { background: #4B69AE; }

dt:nth-of-type(3) { background: #132754	; }
dd:nth-of-type(3) { background: #132754	; }

dt:nth-of-type(4) { background: #1A253F; }
dd:nth-of-type(4) { background: #1A253F; }

dt:nth-of-type(5) { background: #1A253F; }
dd:nth-of-type(5) { background: #1A253F; }

dt:nth-of-type(6) { background: #656b60; }
dd:nth-of-type(6) { background: #656b60; }

.curCol { 
	-moz-box-shadow: 0 0 10px white;
	 -webkit-box-shadow: 0 0 10px white;
	  z-index: 1;
	   position: relative;
	   background:#333; 
}