#index-hero-unit{
	margin-top:20%;
}

body{
	height:100%;
	color:white;
	background:black;
}

.main-info li{
	font-size:16px;
	text-shadow:1px 1px black;
	display:inline;
	list-style-type:none;
	text-align:center;
	border-right:2px solid white;
	padding: 7px 5px 7px 0;
	vertical-align:center;

}

.main-info ul{
	text-align:center;
}

#page-wrap{
	width:800px;
	opacity:.99;
}

.credits{
	color:#009999;
	font-weight:bold;
}

.main-info li:nth-of-type(1){
	border-left:2px solid white;
	padding-left:5px;
}

.galactic-tribute{
	color:gold;
}

.main-info-link:hover{
	background:#006363;
}

.planet-display img{
	height:50px;
	width:50px;
}

.planet-display p{
	text-align:center;
	text-decoration:none !important;
}

.planet-display p:active{
	text-decoration:none;
}

.planet-display a{
	color:inherit;
	text-decoration:none;
}

.planet-dispaly a:hover{
	text-decoration:none;
}

.planet-display{
	background:black;
	border-radius:0 !important;
}

.planet-display div{
	width:80px;
	border-radius:0 !important;
}

.planet-display p{
	overflow:hidden;
	white-space:nowrap;
}

.main-info{
	padding-bottom:5px;
	border-bottom:2px solid darkred;
	margin-bottom:10px;
}
 
.resource-display{
	list-style-type:none;
	text-decoration:none;
	text-align:center;
	margin-bottom:40px;

}

.resource-display li{
	display:inline;
	padding:10px 0;
	border-right:4px solid darkred;
	padding-right:10px;
	padding-left:10px;
	
}

.resource-display li:first-child{
	padding-left:0px;
}

.resource-display li:last-child{
	padding-right:0px;
	border-right:none;
}

.resource-display img{
	height:20px;
}

.resource-display-wrapper {
	border:4px solid darkred;
	border-radius:5px;
	padding:10px;
	background:black;
}

.header-logo{
	background:black;
	border:2px solid gray;
	border-radius:7px;
	padding:7px;
	text-align:center;
}
.civilization-name{
	text-align:center;
	padding:5px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-top:4px solid #010431;
	border-left:4px solid #010431;
	border-right:4px solid #010431;
	background:black;
}

.center{
	text-align:center;
	display:table;
	margin:0 auto;
}

.civ-action-row li{
	display:inline;
	list-style-type:none;
	font-size:18px;
	padding:10px;
}

.civ-action-row li:hover{
	background:black;
	text-shadow:0px 0px 10px #464C98;
}

.civ-action-row-active{
	background:black;
	text-shadow:0px 0px 10px #464C98;	
}

.civ-action-row{
	border-top:6px solid #010431;
	border-right:6px solid #010431;
	border-left:6px solid #010431;
	border-bottom:3px solid #222222;
	padding:10px;
	margin-bottom:0;
	background:#101338;
}

.planet-action-row li{
	display:inline;
	list-style-type:none;
	font-size:14px;
	padding:8px;	
}

.planet-action-row li:hover{
	text-shadow:0px 0px 6px #654598;
	background:black;

}

.planet-action-row-active{
	text-shadow:0px 0px 6px #654598;
	background:black;	
}

.planet-action-row{
	background:#140924;
	border-top:3px solid #111111;
	border-right:6px solid #0C001F;
	border-left:6px solid #0C001F;
	border-bottom:6px solid #0C001F;
	padding:7px;
	margin-bottom:0;
}

.planet-name{
	padding:5px;
	background:black;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
	border-bottom:4px solid #0C001F;
	border-left:4px solid #0C001F;
	border-right:4px solid #0C001F;
}

.planet-info-pane{
	text-align:center;
	background-image:url('../img/backgrounds/sidebar.png');
	border-radius:5px;
	border:1px solid #266D96;
}

.planet-info-pane-header{
	font-weight:bold;
	text-shadow:1px 1px black;
	border-bottom: 1px solid #266D96;
}

.info-pane-output{
	width:90%;
	background:#ccc;
	color:#000;
	text-align:center;
	margin-right:5%;
	margin-left:5%;
	box-shadow:0 0  10px black inset;
}

.planet-overview-header{
	font-size:20px;
	color:orange;
	font-weight:bold;
	width:100%;
	border-bottom:1px solid orange;
}

.progress-display{
	list-style-type:none;
	font-size:10px;
}

.progress-display span{
	font-size:13px;
	text-align:center;
	z-index:1;
}

.progress-display li{
	margin-bottom:20px;
}

.progress-bar-outer{
	border:1px solid #447896;
	width:100%;
	height:20px;
	z-index:2;
	text-align:center;
}

.progress-bar-inner{
	position:relative;
	background:#352A0D;
	width:100%;
	height:20px;
	top:-20px;
	z-index:-1;
}

.progress-bar-background{
	position:relative;
	width:100%;
	height:20px;
	top:-40px;
	z-index:-2;
}

.resource-pane{
	box-shadow:0 0 10px black inset;
	padding:0 5px;
	width:100px;
	background:gray;
	color:black;
	text-align:center;
}

.hydrogen-color{color:#b5e61d;}
.hydrogen-background{background:#b5e61d;}
.hydrogen-border{border:1px solid #b5e61d !important;}
.hydrogen-shadow{text-shadow:1px 1px #739609 !important;}

.energy-color{color:#ffc90e}
.energy-background{background:#ffc90e;}
.energy-border{border:1px solid #ffc90e !important;}
.energy-shadow{text-shadow:1px 1px #A68205 !important;}

.ore-color{color:#b97a57;}
.ore-background{background:#b97a57;}
.ore-border{border:1px solid #b97a57 !important;}
.ore-shadow{text-shadow:1px 1px #783D1C !important;}

.antimatter-color{color:#ec0000;}
.antimatter-background{background:#ec0000;}
.antimatter-border{border:1px solid #ec0000 !important;}
.antimatter-shadow{text-shadow:1px 1px #990000 !important;}

.crystal-color{color:#5eceff;}
.crystal-background{background:#5eceff;}
.crystal-border{border:1px solid #5eceff !important;}
.crystal-shadow{text-shadow:1px 1px #1F7DA6 !important;}

.fleet-table{
	font-size:11px;
}

.my-planets li{
	display:inline-block;
	list-style-type:none;
	padding:5px;
	border:1px solid steelblue;
	border-radius:5px;
	margin:2px;
}

.my-planets span{
	color:steelblue;
}

.assemble-fleet-screen{
	border:2px solid orange;
	padding:5px;
	border-radius:5px;
}

.location input{
	text-align:center;
	border-radius:0;
	margin-top:9px;
	background:black;
	border:1px solid steelblue;
	color:white;
	text-shadow:1px 1px black;
	box-shadow:0 0  20px steelblue inset;
}

.location{
	text-align:center;
	vertical-align:middle
}

.ships-to-send div{

	margin-bottom:5px;
}

.ships-to-send ul{
margin:0;padding:0;
}

.ships-to-send span{
	text-align:center;
	font-size:1.5em;
}

.ship-selection li{
	list-style-type:none;
	display:inline-block;
	width:250px;
}

.ships-to-send input{
	width:50px;
	margin-top:10px;
	background:black;
	color:white;
}

.ships-to-send{
	vertical-align:middle; 
}

.input-append{
	border:none !important;
}

.ships-to-send button{
	margin-top:10px;
	background:black;
	border:1px solid white;
}

.ships-to-send button:active{
	background:white;
}

.send-FF{
	padding:4px;
	border-radius:4px;
	border:2px solid #A66D00;
	background: #BF8E30;
	text-shadow:1px 1px black;
}

.send-LC{
	padding:4px;
	border-radius:4px;
	border:2px solid #A64800;
	background: #BF6E30;
	text-shadow:1px 1px black;
}

.send-HC{
	padding:4px;
	border-radius:4px;
	border:2px solid #A30008;
	background: #BC2F36;
	text-shadow:1px 1px black;
}

.send-DN{
	padding:4px;
	border-radius:4px;
	border:2px solid #5F0009;
	background: #6E1C23;
	text-shadow:1px 1px black;	
}

.send-SS{
	padding:4px;
	border-radius:4px;
	border:2px solid #188A00;
	background: #3DA028;
	text-shadow:1px 1px black;
}

.send-TR{
	padding:4px;
	border-radius:4px;
	border:2px solid #06266F;
	background: #2A4480;
	text-shadow:1px 1px black;
}

.send-ship-class-box{

}

.center{
	text-align:center;
}

.fleet-resource-select input{
	background:black;
	width:100px;
	color:white;

}

.fleet-resource-select div{
	display:block;
}

.fleet-assembly-details span{
	float:right;
	width:100px;
}




.fleet-assembly-details{
	margin-top:30px;
	width:200px;
}

.scan-locator input{
	text-align:center;
	width:30px;
	background:black;
	color:white;
	border-radius:0;
	border:1px solid #222;
}

.mission-img img{
	height:70px;
	width:70px;
}

.mission-img {
	float:left;
	height:100%;
	width:100px;
}

.mission-name{
	color:steelblue;
	font-size:18px;
	font-weight:bold;
}

.mission-info{
	color:gray;
	size:11px;
}

.mission-select-box{
	display:inline-block;
	border-bottom:1px solid steelblue;
	margin-bottom:10px;
	padding:5px 0;
}

.mission-select-box first-child{
	border-top:none;
}

.mission-select-box:last-child{
	border-bottom:none;
}

.mission-body{
}

.mission-actions{
	width:20%;
	float:right;
}

.mission-info-pane p{
	width:70px;
	display:inline;
	box-shadow:0 0  10px black inset;
	padding:0 5px;
	color:black;
}

.mission-requirements{
	color:white;
	font-size:90%;
	padding-top:5px;

}

.mission-requirements span{
	font-weight:bold;
}

.mission-requirements ul{

}

.mission-requirements li{
	display:inline-block;
	padding-right: 6px;
	padding-left:3px;
	border-right:2px solid gray;
}

.mission-requirements li:last-child{
	border-right:0;
}

.next-mission-box{
	margin-left:20%;
	margin-right:20%;
	width:60%;
	border:1px solid steelblue;
	padding:10px 10px 0 10px;
	background:#111;
}

.building-info li{
	list-style-type:none;
	float:right;
}

.resource-listing{
	list-style-type:none;
}

.power-levels{
	width:80px;
	border-radius:0px;
	color:black;
	text-shadow:1px 1px white;
	background:gray;
	float:right;
	border:1px solid black !important;
}

.building-info-box{
	border-left:1px solid steelblue;
	border-right:1px solid steelblue;
	padding:0 5px;
	padding-top:5px;
	margin-bottom:15px;
}

.building-extension-info{
	text-align:center;
	margin:0 auto;
	display:table;
}

.building-extension-info ul{
	text-align:center;
	display:table;
	margin:0 auto;
	margin-bottom:5px;
}

.resource-pane-small{
	width:70px;
}

.ship-number{
	width:60px;
	border:1px solid gray !important;
	border-radius:0 !important;
	background:black !important;
	color:white !important;
}

.ship-stat-current{
	font-weight:bold;
	color:green;
}

.table-ship-stats{
	font-size:10px;
	padding:0px !important;
	float:left;
	width:100%;
}


.ship-stats{
	width:100%;
}

.table-ship-stats tr:nth-child(even){
	background:#111;
}

.table-ship-stats td:nth-child(2){
	text-align:center;
}

.table-ship-stats td:nth-child(3){
	text-align:center;
}

.research-unlocks{
	float:left;
}

.research-unlocks li{
	list-style-type:none;
	display:inline-block;
	padding:5px;
	margin:4px;
	background:#222;
	border-radius:5px;
}

.action-button{
	border-radius:0;
	margin-bottom:3px;
	width:100%;
}

.active-planet{
	border:0;
	background:#315B7E;
	color:white;
	text-shadow:1px 1px black;
	box-shadow:2px 2px gray;
}

.active-planet div{
	border:0;
}

.civ-action-row-wrapper a, .planet-action-row a{
	text-decoration:none;
	color:white !important;
}

.home-screen-planet-img img{
	height:200px;
	width:200px;
}

.game-message{
	text-align:center;
	margin:10px;
	padding-top:10px;
	background:#111;
	color:white;
	text-shadow:1px 1px black;
	border:1px solid green;
}

.game-message-warning{
	border:1px solid yellow;
}

.game-message-danger{
	border:1px solid red;
}

.game-message-info{
	border:1px solid blue;
}

.progress-bar-button{
	border-radius:0;
	margin:-2px;

}

.main-action-bar{
	margin-bottom:20px;
}

