/* 
    AUTHOR: Chris Coyier
            chriscoyier@gmail.com
            http://chriscoyier.net
*/


.clear {
	clear: both;
}

.floatLeft {
	float: left;
}

.floatRight {
	float: right;
}



#background-cover{
	opacity:.9;
}

#background {
	background: url(../images/background.png) repeat 5% 5%;
	position: absolute;
	top: 0; left: 0; right: 0; bottom: 0;
	z-index: 100;
}

#midground {
	background: url(../images/midground.png) repeat 20% 20%;
	position: absolute;
	top: 0; left: 0; right: 0; bottom: 0;
	z-index: 100;
}

#foreground {
	background: url(../images/foreground.png) repeat 90% 110%;
	position: absolute;
	top: 0; left: 0; right: 0; bottom: 0;
	z-index: 200;
}



#page-wrap {
	margin: 0 auto;
	position: relative;
	z-index: 300;
	background: rgba(0,0,0,0.7);
	padding: 30px 50px;
	
	border-left: 10px solid rgba(255,255,255,0.2);
	border-right: 10px solid rgba(255,255,255,0.2);
	box-shadow: 0 0 0 4px #aaa, 0 0 0 12px rgba(255,255,255,0.2)
}

