<p>At NC State, the student body president's term starts near the end of the spring semester. During the summer, the SBP does a lot of work to prepare for the upcoming year. Yesterday, our student body president, Matt Williams <a href='http://www.technicianonline.com/news/article_d6b6ee52-d964-11e2-8b33-0019bb30f31a.html'>resigned from his position</a>.</p>

<p>Per the usual, this sparked a lot of commentay online. I saw basically three types of comments:</p>

<h2>The Good</h2>
<p>I was quite surprised by the amount of positive support that I saw for the man. The fact that a lof of effort went into the campaign and into the adminstration still exists, and the fact that despite all this, there was a overwhelming amount of support for his decision really says something about not only Matt himself, but the team that he built.</p>
<p>When a team starts to reach a certain size, people start splintering into groups, and that's how intra-team drama starts. One thing that amazed me about his team is how well everoyne was able to get along, despite the size of the team. I feel like this is a leadership lession that we can all take from this experience.</p>
<p>Think about it with the groups that you're a part of. If the leader of that group stepped down today, voluntarily, due to personal reasons, how would that make you feel? Would you be glad that they are out? Would you be glad that you get to (possibly) move up? Or would you support your leader and wish the best for him? I cant think of many organizations that would openly support someone doing what Matt did.</p>

<h2>The Bad</h2>
<p>Naturally, there's going to be some controversy surrounding a decision like this. As with every election cycle, there was a <a href='http://www.technicianonline.com/opinion/columnists/columnist_one/article_3c43cd26-9504-11e2-9d94-0019bb30f31a.html'>fair</a> <a href='http://www.technicianonline.com/opinion/editorials/article_642f0044-9504-11e2-b3ec-0019bb30f31a.html'>bit</a> of <a href='http://www.technicianonline.com/opinion/letters_to_editor/article_4be15bd6-95cc-11e2-b804-001a4bcf6878.html'>drama</a>, but in the end, Matt won the election.</p>
<p>Were there other capable canidates? Yes and No. There were two other canidates, Lauryn and Dwayne. Dwanye basically ran himself out of the race (see links above), which Leaves Lauryn. I tell you what, If I spend that much time and money on a campaign, only to lose to someone who resigned two monts into it, I would be <strong>livid</strong>. I have to commend her for not going on a rampage on social media and otherwise.</p>
<p>Other people? Not so nice. I've noticed a lot of people questioning Matt and saying that he has "wasted a great opportunity" to be student body president. In addition to this, I've seen students questioning his motives for resigning.</p>

<p>Let's start with the first one. This "wasted opportunity". Looking deeper at the statement, I try to figure out exactly what opportunity is wasted? Opprtunity to help the student body? Well, one can still do that without being the SBP, especially at a school like NC State.</p>
<p>But what about the opportunity to call yourself the SBP? Well, I can say with a certain degree of condifence that being the Student Body President at NC State is helpful, but to what degree? I've heard several statements along the line of "Being able to put being SBP on your resume is an amazing opportunity and I dont understand how someone can give that up".</p>
<p>I've got two problems with that train of thought.</p>
<p>First, Unless one has been a Student Body President, then one really dosen't know or understand the benefits that come with it. Additionally, if one has never been in the position, then one really cant properly assess if the amount of work associated with the job is worth it.</p>
<p>For exampe, I worked at Walt Disney World for a year. The benefits for working at WDW are awesome. Free park admission, discounts on almost everything at the resort, special employee-only events. Plus you get to tell people (and future employees) that you worked for Disney. Now these sound pretty awesome from the outside, but if one would ask 10 people who have been with the company for a while, then at least 9 out of the ten would not have a single thing from that list as a reason for why they stayed.</p>
<p>Secondly, Looking at it from a "He/She/Ze is doing it as a resume-builder perspective is somewhat ignorant".</p>
<p>During my first year at NCSU Kelly Hook was our SBP. She was great, and I was really inspsired by her. I was (and still am) constantly in awe of her and her leadership style.</p>
<p>The next two years, Chandler Thompson and Andy Walsh took over. Both of them had much different leadership styles. Now that I'm wiser, I understand that while they were different, they weren't worse than Kelly's. But man, for most of Chandler's term, and for the beginning of Andy's term, I was a <strong>hater</strong>.</p>
<p>I had no understanding of the way that SG was set up, or what the SBP did. I just thought that they were some people who just wanted the job so that it would make them look better, and had enough money to run a campaign. Eventually I decided to stop hating and actually take a look at what they did, and then later, participate and help SG accomplish their mission.</p>
<p>Through this experience, I've learned that it's very difficult for one to appreciate something if they dont understand it. So, for the people who feel like Matt is just throwing this opportunity away, I suggest that you take a deeper look at the position and it's requirements before passing judgement.</p>
<p>I hope everyone's summer is going well! As always, feel free to tweet at me! (<a href='http://www.twitter.com/rickeyearl'>@RickeyEarl</a>)</p>
